.container{
    max-width: 200px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.container:hover {
    cursor: pointer;
}

.container:hover > :is(.image, .price, .title){
opacity: 0.3;}

.container:hover > .view{
    position: absolute;
    display: block;
    top: 40%;
    left: 40%;
    transform: translate(-35%, -40%);
    background-color: #3EB759;
    opacity: 1;
    z-index: 10;
    padding: 10px;
    color: white;
    font-size: 0.8rem;
}

.view{
    display: none;
}

.image{
    width: 160px;
    height : 200px;
}

.price{
    font-weight: 600;
}

.button{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #3EB759;
    color: white;
}

.button:hover{
    cursor: pointer;
}